{% extends "base.html" %}

{% block content %}
    <span class="title"><h1>{% block title %}Հինգ չվերթների գծապատկեր {% endblock title %}</h1></span>
    <div class="content">
        <h2>3. Հինգ առավել հաճախ հանդիպող չվերթների (նույն ուղղությամբ, նույն ժամին) բացահայտում և այդ չվերթների քանակի ցուցադրում աղյուսակի և գծապատկերի (Pie chart) տեսքով:</h2>
    </div>
    <table>
        <tr>
            {% for th in ths %}
            <th>{{ th }}</th>
            {% endfor %}
        </tr>
        {% for flight in flights %}
            <tr>
                <td>{{ flight.airoperator_name }}</td>
                <td>{{ flight.place_of_business }}</td>
                <td>{{ flight.flight_no }}</td>
                <td>{{ flight.traffic_type }}</td>
                <td>{{ flight.departure_1 }}</td>
                <td>{{ flight.arrival_1 }}</td>
                <td>{{ flight.arrival_1_date_time }}</td>
                <td>{{ flight.departure_1_date_time }}</td>
                <td>{{ flight.permission_no }}</td>
                <td>{{ flight.sign_date }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}